extends ../layout

block content
  //- .page-header
  //-   h2
  //-     i.fa.fa-facebook-square(style='color: #335397')
  //-     | Facebook API
  //- .btn-group.btn-group-justified
  //-   a.btn.btn-primary(href='https://developers.facebook.com/docs/graph-api/quickstart/', target='_blank')
  //-     i.fa.fa-check-square-o
  //-     | Quickstart
  //-   a.btn.btn-primary(href='https://developers.facebook.com/tools/explorer', target='_blank')
  //-     i.fa.fa-facebook
  //-     | Graph API Explorer
  //-   a.btn.btn-primary(href='https://developers.facebook.com/docs/graph-api/reference/', target='_blank')
  //-     i.fa.fa-code-fork
  //-     | API Reference

  h3
    i.fa.fa-user
    |  My Facebook Profile
  a(href=profile.link, target='_blank') 
    img.thumbnail(src=`https://graph.facebook.com/${profile.id}/picture?type=large`, width='90', height='90')
    h4= profile.name
  //- h6 First Name: #{profile.first_name}
  //- h6 Last Name: #{profile.last_name}
  //- h6 Gender: #{profile.gender}
  //- h6 Username: #{profile.username}
  //- h6 Link: #{profile.link}
  //- h6 Email: #{profile.email}
  //- h6 Locale: #{profile.locale}
  //- h6 Timezone: #{profile.timezone}
  case noOfFriends
    when 0
      .alert.alert-warning(role='alert') Doh - you're alone on Smack. How about inviting some of your Facebook friends over?
    default
      .panel.panel-default
        .panel-heading My FB friends on Smack
        ul.list-group
          - for (var x = 0; x < noOfFriends; x++)
            li.list-group-item
              .media
                .media-left
                  img.media-object(src=`https://graph.facebook.com/${respFriends[x].id}/picture?type=small`)
                .media-body
                  h4.media-heading #{respFriends[x].name}
  #mapid
  script(src='/js/lib/leaflet/leaflet.js')
  script.
    function loadMap() {
      //- create the tile layer with correct attribution
      var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
      var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 12, attribution: osmAttrib});
      var mymap = L.map("mapid").setView([51.505, -0.09], 11);
      mymap.addLayer(osm);
    }
    loadMap();
